<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>local.SMTP_PROCESSOR</string>
    <key>Program</key>
    <string>/Users/test/PythonScripts/smtp_processor.py</string>
    <key>ProgramArguments</key>
    <array>
    <string>/Users/test/PythonScripts/smtp_processor.py</string>
    <string>-l</string>
    <string>DEBUG</string>
    </array>
    <key>StartInterval</key>
    <integer>120</integer>
    <key>WorkingDirectory</key>
    <string>/Users/test/PythonScripts</string>
</dict>
</plist>

